.home{
    background-position: center;
    background: url("../images/tuk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    overflow: hidden;
}


.commercial2{
    height: 300px;
    padding-top: 100px;
    text-align: center;
    align-content:center ;
}

.commercial1{
    height: 300px;
    padding-top: 70px;
}

.commercial4{
    height: 250px;
    padding-top: 80px;
}

.commercial5{
   color: white;
   background: linear-gradient(90deg, rgba(177,64,200,1) 0%, rgba(109,9,121,1) 35%, rgba(45,1,62,1) 100%);
}


.team{
    height: 600px;
}
body{
    overflow-x: hidden;
}