body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
     
}
.head{
    width: 100%;
    padding-top: 0%;
    margin: auto;
    background-color: black;
    
}

header::after{
    content: '';
    display: table;
    clear: both;
}
nav{
    float: right;
    color:  #dc3545;
  background-color: #dc3545 ;
    width: 100%;
}
nav ol{
    margin: 0%;
    padding: 0;
    list-style: none;
    float: right;
    font-size: 50px;
    font-weight: 800;

}
nav la{
    display: inline-block;
    margin-left: 70px;
    font-size: 40px;
    height: 50px;
    position: relative;
    padding-bottom: 0;
    padding-left:20px ;
}
nav a{
    color: #444;
    text-decoration:none ;
    text-transform: uppercase;
    font-size: 14px;
}
nav a:hover{
    color: white;
}
nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 400ms;
}
nav a:hover::before{
    width:100%;
}


@import url('https://fonts.googleapis.com/css?family=poppins:400,500,600,700,800,900&display=swap');
h1{
    position: relative;
    margin:20px 0 0;
    font-size: 4em;
    font-weight: 1000;
    color: honeydew;
    z-index: 1;
    overflow: hidden;
    background-color:#dc3545;
}
h1:before{
    content: '';
    position: absolute;
    left: 120%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg,transparent 0%,#000 5%,#000 100%);
    animation: animate 5.5s linear forwards;
    animation-delay: 5 seconds;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
@keyframes animate{
    0%{
        left: 110%;
    }
    100%{
        left: -200%;
    }
}
h1 span{
    color: white;
}
.chap{
    animation: slide 30s;
}
.tuk{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
    animation: slide 20s infinite;
    padding-top: 100px;
    margin-top: 0;
}
.slide{
    color:white;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}
.detail{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    letter-spacing: 5px;
    padding-top: 200px;
}
.detail h3{
    font-size: 90px;
    margin-bottom: 20px;
}
.detail p{
    font-size: 20px;
    color: #F54B42;
    font-size: 40px;
}
li{
    list-style: none;
    text-align: center;
    color: #F54B42;
    font-size: 30px;
    font-weight: 700;
}
@keyframes slide{
    0%{
        background-image: url("https://bit.ly/32TuQAg");
    }
    20%{
        background-image: url('https://bit.ly/32TuQAg');
    }
    20.01%{
        background-image: url('https://bit.ly/39socDU');
    }
    40%{
        background-image: url('https://bit.ly/39socDU');
    }
    40.01%{
        background-image: url('https://bit.ly/3apNlik');
    }
    60%{
        background-image: url('https://bit.ly/3apNlik');
    }
    60.01%{
        background-image: url('https://bit.ly/3ay9YRJ');
    }
    80%{
        background-image: url('https://bit.ly/3ay9YRJ');
    }
    80.01%{
        background-image: url('https://bit.ly/2TpI8le');
    }
    100%{
        background-image: url('https://bit.ly/2TpI8le');
    }
}

